[submodule "linux/home/kk/.vim/bundle/vim-pathogen"]
	path = linux/home/kk/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "linux/home/kk/.vim/bundle/perl-support.vim"]
	path = linux/home/kk/.vim/bundle/perl-support.vim
	url = https://github.com/vim-scripts/perl-support.vim
    ignore = dirty
[submodule "linux/home/kk/.vim/bundle/bash-support.vim"]
	path = linux/home/kk/.vim/bundle/bash-support.vim
	url = https://github.com/vim-scripts/bash-support.vim
    ignore = dirty
[submodule "linux/home/kk/.vim/bundle/vim-surround"]
	path = linux/home/kk/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "linux/home/kk/.vim/bundle/tComment"]
	path = linux/home/kk/.vim/bundle/tComment
	url = https://github.com/vim-scripts/tComment
    ignore = dirty
[submodule "linux/home/kk/.vim/bundle/mru.vim"]
	path = linux/home/kk/.vim/bundle/mru.vim
	url = https://github.com/vim-scripts/mru.vim
[submodule "linux/home/kk/.vim/bundle/c.vim"]
	path = linux/home/kk/.vim/bundle/c.vim
	url = https://github.com/vim-scripts/c.vim
    ignore = dirty
[submodule "linux/home/kk/.vim/bundle/gundo"]
	path = linux/home/kk/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim.git
